<html layout:decorate="~{layout}">
  <main layout:fragment="content" class="container">
    <article>
      <header
        th:with="ctgr=${(post.category == null) ? '자유' : post.category.name}"
      >
        <h1 th:text="|[${ctgr}] ${post.title}|"></h1>
        <b th:text="${post.member != null} ? ${post.member.uid} : 'Anon'"></b>

        <span
          th:if="${post.modifyDate == null}"
          th:text="${#temporals.format(post.createDate, 'yy-MM-dd HH:mm:ss')}"
        ></span>
        <span
          th:unless="${post.modifyDate == null}"
          th:text="|${#temporals.format(post.modifyDate, 'yy-MM-dd HH:mm:ss')}(수정됨)|"
        ></span>
        <span th:text="|조회수 ${post.read}|"></span>
      </header>
      <div th:utext="${@commonUtil.markdown(post.content)}"></div>
      <a
        th:href="@{|/post/like/${post.id}|}"
        role="button"
        class="outline contrast"
      >
        <span th:if="${post.recommend}">❤️</span>
        <span th:unless="${post.recommend}">🤍</span>
        <span th:text="${#lists.size(post.voter)}"></span>
      </a>
      <th:block
        th:if="${post.member != null and #authentication.getPrincipal().getUsername() == post.member.uid}"
        sec:authorize="isAuthenticated()"
      >
        <a th:href="@{|/post/modify/${post.id}|}" role="button" class="outline"
          >수정</a
        >
        <a
          href="javascript:void(0);"
          th:data-uri="@{|/post/delete/${post.id}|}"
          class="delete"
          role="button"
        >
          삭제</a
        >
      </th:block>
      <footer>
        <form
          th:action="@{|/comment/create/${post.id}|}"
          method="post"
          th:object="${commentForm}"
        >
          <div th:replace="~{form_err :: formErrFragment}"></div>
          <textarea
            th:field="*{content}"
            required
            sec:authorize="isAuthenticated()"
          ></textarea>
          <section sec:authorize="isAnonymous()">
            <a th:href="@{/member/login}">로그인</a>
            해 주세요
          </section>
          <input type="submit" />
        </form>
      </footer>
    </article>

    <table>
      <tr>
        <th colspan="2"
          th:text="|${#lists.size(post.commentList) + #lists.size(post.replyList)} 개의 댓글|"
        ></th>
      </tr>
      <th:block th:each="comment: ${cList}">
        <tr th:id="|comment_${comment.id}|" class="comment">
          <td
            th:text="${comment.member != null} ? ${comment.member.uid} : 'Anon'"
          ></td>
          <td th:text="${comment.content}" width="40%"></td>
          <td>
            <span
              th:if="${comment.modifyDate == null}"
              th:text="${#temporals.format(comment.createDate, 'yy-MM-dd HH:mm:ss')}"
            ></span>
            <span
              th:unless="${comment.modifyDate == null}"
              th:text="|${#temporals.format(comment.modifyDate, 'yy-MM-dd HH:mm:ss')}(수정됨)|"
            ></span>
          </td>
          <td>
            <a
              th:href="@{|/comment/like/${comment.id}|}"
              role="button"
              class="outline contrast"
            >
              <span th:if="${comment.recommend}">❤️</span>
              <span th:unless="${comment.recommend}">🤍</span>
              <span th:text="${#lists.size(comment.voter)}"></span>
            </a>
            <th:block
              th:if="${comment.member != null and #authentication.getPrincipal().getUsername() == comment.member.uid}"
              sec:authorize="isAuthenticated()"
            >
            <a
              th:href="@{|/comment/modify/${comment.id}|}"
              role="button"
              class="outline"
              >수정</a
            >
            <a
              href="javascript:void(0);"
              th:data-uri="@{|/comment/delete/${comment.id}|}"
              class="delete"
              role="button"
              >X</a
            >
            </th:block>
          </td>
        </tr>

        <tr th:each="reply: ${comment.replyList}" class="reply" th:id="|reply_${reply.id}|" >
          <td>
            <span>re: </span>
            <span
              th:text="${reply.member != null} ? ${reply.member.uid} : 'Anon'"
            ></span>
          </td>
          <td th:text="${reply.content}"></td>
          <td>
            <span
              th:if="${reply.modifyDate == null}"
              th:text="${#temporals.format(reply.createDate, 'yy-MM-dd HH:mm:ss')}"
            ></span>
            <span
              th:unless="${reply.modifyDate == null}"
              th:text="|${#temporals.format(reply.modifyDate, 'yy-MM-dd HH:mm:ss')}(수정됨)|"
            ></span>
          </td>
          <td>
            <a
              th:href="@{|/reply/like/${reply.id}|}"
              role="button"
              class="outline contrast"
            >
              <span th:if="${reply.recommend}">❤️</span>
              <span th:unless="${reply.recommend}">🤍</span>
              <span th:text="${#lists.size(reply.voter)}"></span>
            </a>
            <th:block
              th:if="${reply.member != null and #authentication.getPrincipal().getUsername() == reply.member.uid}"
              sec:authorize="isAuthenticated()"
            >
            <a
              th:href="@{|/reply/modify/${reply.id}|}"
              role="button"
              class="outline"
              >수정</a
            >
            <a
              href="javascript:void(0);"
              th:data-uri="@{|/reply/delete/${reply.id}|}"
              class="delete"
              role="button"
              >X</a
            >
            </th:block>
          </td>
        </tr>

        <tr class="reply-form">
          <td colspan="4">
            <form
              th:action="@{|/reply/create/${comment.id}|}"
              method="post"
              th:object="${replyForm}"
            >
              <textarea
                th:field="*{content}"
                required
                sec:authorize="isAuthenticated()"
              ></textarea>
              <section sec:authorize="isAnonymous()">
                <a th:href="@{/member/login}">로그인</a>
                해 주세요
              </section>
              <input type="submit" />
            </form>
          </td>
        </tr>
      </th:block>
    </table>

    <div class="paging" th:if="${!cList.isEmpty()}">
      <p th:if="${cList.hasPrevious}">
        <a th:href="@{|/post/detail/${post.id}?page=${cList.number}|}">Prev</a>
      </p>
      <p
        th:each="idx:${#numbers.sequence(1, cList.totalPages)}"
        th:classappend="${idx == cList.number + 1} ? 'active'"
        th:if="${idx >= cList.number-1 and idx <= cList.number+3}"
      >
        <a
          th:text="${idx}"
          th:href="@{|/post/detail/${post.id}?page=${idx}|}"
        ></a>
      </p>
      <p th:if="${cList.hasNext}">
        <a th:href="@{|/post/detail/${post.id}?page=${cList.number+2}|}"
          >Next</a
        >
      </p>
    </div>
  </main>
  <script layout:fragment="script" type="text/javascript">
    const del_list = document.querySelectorAll(".delete");
    del_list.forEach(function (d) {
      d.addEventListener("click", function () {
        if (confirm("Really delete?")) {
          location.href = this.dataset.uri;
        }
      });
    });

    const comment_list = document.querySelectorAll(".comment");
    const reply_form = document.querySelectorAll(".reply-form");
    comment_list.forEach(function (c, idx) {
      c.addEventListener("click", function () {
        reply_form[idx].classList.toggle("active");
      });
    });
  </script>
</html>
