<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate = "layout">
<main layout:fragment = "content" style="max-width: 600px;">

    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-center mb-4"
                th:text="${board} != null ? '글 수정' : '새 글 작성'">
                새 글 작성
            </h5>

            <form th:action="${board} != null
                            ? @{/boards/{id}(id=${board.id})}
                            : @{/boards}"
                  method="post">

                <div class="mb-3">
                    <input type="text" placeholder="제목" required name="title"
                           class="form-control"
                           th:value="${board?.title}">
                </div>

                <div class="mb-3">
                    <textarea placeholder="내용" name="content" required
                          class="form-control"
                          rows="10"
                          th:text="${board?.content}"></textarea>
                </div>

                <div class="d-grid">
                    <input type="submit"
                           class="form-control btn btn-primary"
                           th:value="${board != null} ? '수정' : '작성'">
                </div>
            </form>
        </div>
    </div>
</main>
</html>