<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate = "layout">
<main layout:fragment = "content" style="max-width: 800px;">
    <div class="mb-4">
        <h2 th:text="${board.title}" class="fw-bold"></h2>
        <div class="text-muted small">
          <span
            th:if="${board.modifiedAt == null}"
            th:text="${#temporals.format(board.createdAt, 'yy-MM-dd HH:mm:ss')}"
          ></span>
          <span
            th:unless="${board.modifiedAt == null}"
            th:text="|${#temporals.format(board.modifiedAt, 'yy-MM-dd HH:mm:ss')}(수정됨)|"
          ></span> &nbsp;|&nbsp;
          <span th:text="|조회수 ${board.viewCount}|"></span>&nbsp;|&nbsp;
          <span th:text="|댓글 ${replyList.size()}|"></span>
        </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <p th:text="${board.content}" style="white-space: pre-wrap;"></p>
      </div>
    </div>

    <div class="d-flex align-items-center mb-5">
      <form th:action="@{|/boards/${board.id}/like|}"
            method="post" class="me-3">
        <span th:text="${board.likeCount}"></span>
        <input type="submit" value="❤️" class="btn btn-outline-danger">
      </form>

      <div sec:authorize="isAuthenticated()">
        <a th:href="@{|/boards/${board.id}/edit|}"
          class="btn btn-primary me-2">수정</a>
        <form th:action="@{|/boards/${board.id}/delete|}" method="post"
          class="d-inline">
          <input type="submit" value="삭제" class="btn btn-danger">
        </form>
      </div>
    </div>

    <div class="mb-5">
      <h5>댓글 쓰기</h5>
      <div sec:authorize="isAuthenticated()">
        <form th:action="@{|/boards/${board.id}/replies|}"
          method="post">
          <textarea
                  name="content"
                  rows="4"
                  required
                  placeholder="댓글을 입력하세요"
                  class="form-control mb-2"
          ></textarea>
          <input type="submit" value="댓글 작성" class="btn btn-success"/>
        </form>
      </div>
      <div sec:authorize="isAnonymous()" class="mt-2">
        <a th:href="@{/login}">로그인</a>
        해 주세요
      </div>
    </div>

    <div class="mb-5">
      <h5>댓글 목록</h5>
      <ul class="list-group">
        <li th:each="reply : ${replyList}"
            class="list-group-item d-flex justify-content-between align-items-stars">
          <div class="ms-2 me-auto">
            <div class="fw-bold" th:text="${reply.user.username}"></div>
            <small class="text-muted" th:text="${#temporals.format(reply.createDate, 'yy-MM-dd hh:mm:ss')}"></small>
            <p class="mt-2 mb-0" th:text="${reply.content}"></p>
          </div>
          <div sec:authorize="isAuthenticated()">
            <form th:action="@{|/boards/${board.id}/replies/${reply.id}/delete|}"
                  method="post"
                  sec:authorize="isAuthenticated()"
            >
              <input type="submit" value="삭제" class="btn btn-sm btn-outline-danger">
            </form>
          </div>
        </li>
        <li th:if="${replyList.empty}" class="list-group-item text-center text-muted">
          등록된 댓글이 없습니다.
        </li>
      </ul>
    </div>

  </main>
</html>
