<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate = "layout">
<main layout:fragment = "content">

	<div class="d-flex justify-content-between align-items-center mb-3">
		<h3>자유게시판</h3>
		<th:block sec:authorize="isAuthenticated()">
			<a href = "/boards/new" class = "btn btn-primary">등록</a>
		</th:block>
	</div>

	<form class="row g-2 align-items-center mb-4" th:action="@{/boards}">
		<div class="col-auto">
			<span th:text = "|${boardPage.totalElements}개의 글 검색됨|"></span>
		</div>
		<div class="col-auto">
			<input type = "text"
			   th:value = "${param.keyword}"
			   placeholder = "제목으로 검색"
			   name = "keyword"
			   class = "form-control">
		</div>
		<div class="col-auto">
			<input type = "submit" value = "검색"
				   class = "btn btn-outline-primary">
		</div>
	</form>

	<div class="table-responsive">
    <table class = "table align-middle">
		<thead class="table-light">
			<tr>
				<th style = "width: 50%">제목</th>
				<th>작성자</th>
				<th>추천</th>
				<th>작성일</th>
			</tr>
		</thead>
    	<tr th:each = "board: ${boardPage}">
    		<td>
    			<a th:href = "@{|/boards/${board.id}|}"
    			th:text = "${board.title}">
    			</a>
    		</td>
    		<td th:text = "${board.user.username}"></td>
    		<td th:text = "${board.likeCount}"></td>
    		<td th:text = "${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
    	</tr>
		<tr th:if="${boardPage.empty}">
			<td colspan="4" class="text-center">등록된 글이 없습니다.</td>
		</tr>
    </table>
	</div>

	<ul class="pagination" th:if="${!boardPage.empty}">
		<li th:if="${boardPage.hasPrevious()}" class="page-item"
			th:classappend="${boardPage.hasPrevious()} ? '' : 'disabled'">
			<a class="page-link" th:href="@{/boards(page=${boardPage.number - 1}, keyword=${keyword})}">이전</a>
		</li>
		<li th:each="i : ${#numbers.sequence(0, boardPage.totalPages - 1)}"
			th:classappend="${i == boardPage.number} ? 'active'"
			class="page-item">
			<a th:href="@{/boards(page=${i}, keyword=${keyword})}"
			   th:text="${i + 1}"
			   class="page-link"></a>
		</li>
		<li th:if="${boardPage.hasNext()}"
			class="page-item"
			th:classappend="${boardPage.hasNext()} ? '' : 'disabled'">
			<a th:href="@{/boards(page=${boardPage.number + 1}, keyword=${keyword})}"
			   class="page-link">다음</a>
		</li>
	</ul>
</main>    
</html>
