<html layout:decorate = "~{layouts/layout}">
<main layout:fragment = "content" class = "container">

	<form th:if = "${session.userInfo} == null"
	action = "/user/login"
	method = "post">
		<input type = "text" 
		placeholder = "ID" 
		name = "id"
		value = "anon01">
		<input 
		type = "password" 
		placeholder = "PW" 
		name = "pw"
		value = "1234">
		<input type = "submit" value = "LOGIN">
		<a href = "/signup">Sign Up</a>
	</form>
	
	<div th:unless = "${session.userInfo} == null">
		<span th:text = "|${session.userInfo.id}님 안녕하세요|"></span>
	</div>

</main>
</html>