<html layout:decorate = "~{layout}">
<main layout:fragment = "content" class = "container">
    <form th:action = "@{/member/login}" method="post">
        <fieldset>
            <legend>로그인</legend>
            <div th:if="${param.error}" class="err">계정 정보가 틀렸습니다</div>
            <input type="text" placeholder="ID" name = "username" required>
            <input type="password" placeholder="PW" name = "password" required\>
            <input type="submit" value="LOGIN">
        </fieldset>
    </form>
    <a th:href = "@{/member/pwfind}">비밀번호 찾기</a>
</main>
</html>