<html layout:decorate = "~{layout}">
<main layout:fragment = "content" class = "container">
    <nav th:replace = "~{mypage_nav::mypageFrag}"></nav>
    <table>
        <tr>
            <th width = "40%">내용</th>
            <th>작성일시</th>
            <th>추천</th>
        </tr>

        <tr th:each = "item: ${rList}">
            <td>
                <a th:href = "@{|/post/detail/${item.post.id}|}"
                th:text = "${item.content}"></a>
            </td>
            <td th:text = "${#temporals.format(item.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
            <td th:text = "${#lists.size(item.voter)}"></td>
        </tr>
    </table>

    <div class = "paging" th:if = "${!rList.isEmpty()}">
        <p th:if = "${rList.hasPrevious}">
            <a th:href = "@{|/member/reply?page=${rList.number}|}">Prev</a>
        </p>
        <p th:each="idx:${#numbers.sequence(1, rList.totalPages)}"
        th:classappend = "${idx == rList.number + 1} ? 'active'"
        th:if = "${idx >= rList.number-1 and idx <= rList.number+3}">
            <a th:text = "${idx}" th:href = "@{|/member/reply?page=${idx}|}"></a>
        </p>
        <p th:if = "${rList.hasNext}">
            <a th:href = "@{|/member/reply?page=${rList.number+2}|}">Next</a>
        </p>
    </div>
</main>
</html>