<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate = "layout">
<main layout:fragment = "content">
    <div class="row">
        <aside class="col-md-3 mb-4">
            <nav th:replace = "~{mypage_nav :: mypageFrag}"></nav>
        </aside>
        <div class="col-md-9">
            <div class="table-responsive">
                <table class = "table align-middle">
                    <thead class="table-light">
                    <tr>
                        <th style = "width: 50%">제목</th>
                        <th>작성자</th>
                        <th>추천</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tr th:each = "like: ${likes}">
                        <td>
                            <a th:href = "@{|/boards/${like.board.id}|}"
                               th:text = "${like.board.title}">
                            </a>
                        </td>
                        <td th:text = "${like.board.user.username}"></td>
                        <td th:text = "${like.board.likeCount}"></td>
                        <td th:text = "${#temporals.format(like.board.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                    <tr th:if="${likes.empty}">
                        <td colspan="4" class="text-center">좋아요를 누른 글이 없습니다.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>
</html>