<nav th:fragment="mypageFrag" class="nav flex-column nav-pills mb-4" id="mypageNav">
    <a class="nav-link" href="/users/me/posts" data-menu="posts">
        <i class="bi bi-file-earmark-text me-2"></i>내 글
    </a>
    <a class="nav-link" href="/users/me/comments" data-menu="comments">
        <i class="bi bi-chat-left-text me-2"></i>내 댓글
    </a>
    <a class="nav-link" href="/users/me/likes" data-menu="likes">
        <i class="bi bi-hand-thumbs-up me-2"></i>내 좋아요
    </a>
    <a class="nav-link" href="/users/me" data-menu="info">
        <i class="bi bi-person-circle me-2"></i>내 정보
    </a>
</nav>
