<html layout:decorate = "~{layout}">
<main layout:fragment = "content" class = "container">
    
    <nav aria-label="breadcrumb">
        <ul>
            <li th:each = "ctgr: ${ctgrList}" >
                <a th:href = "@{|/post/list?ctgr=${ctgr.id}|}" th:text = "${ctgr.name}"></a>
            </li>
        </ul>
    </nav>
    
    <table>
        <tr>
            <th>탭</th>
            <th width = "40%">제목</th>
            <th>작성자</th>
            <th>작성일시</th>
            <th>추천</th>
        </tr>
        <tr th:each = "post: ${postList}">
            <td th:text = "${post.category == null} ? '자유' : ${post.category.name}"></td>
            <td>
                <a th:href = "@{|/post/detail/${post.id}|}"
                th:text = "${post.title}"></a>
                <span 
                th:if = "${#lists.size(post.commentList) > 0}"
                th:text = "|[${#lists.size(post.commentList)}]|"></span>
            </td>
            <td>
                <b th:text = "${post.member != null} ? ${post.member.uid} : 'Anon'"></b>
            </td>
            <td th:text = "${#temporals.format(post.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
            <td th:text = "${#lists.size(post.voter)}"></td>
        </tr>
    </table>

    <div style="display: flex; justify-content: space-between; align-items: start;">
        <a th:href = "@{/post/create}" role="button">등록</a>
        <div style="width: 50%;">
            <input type="text" id = "search_input" th:value = "${param.keyword}"
            style="width: 30%;">
            <span role="button" id = "search_btn">검색</span>
        </div>
    </div>

    <div class = "paging" th:if = "${!postList.isEmpty()}">
        <p th:if = "${postList.hasPrevious}">
            <a th:data-page = "${postList.number}">Prev</a>
        </p>
        <p th:each="idx:${#numbers.sequence(1, postList.totalPages)}"
        th:classappend = "${idx == postList.number + 1} ? 'active'"
        th:if = "${idx >= postList.number-1 and idx <= postList.number+3}">
            <a th:text = "${idx}" th:data-page = "${idx}"></a>
        </p>
        <p th:if = "${postList.hasNext}">
            <a th:data-page = "${postList.number + 2}">Next</a>
        </p>
    </div>

    <form th:action = "@{/post/list}" method="get" id = "searchForm">
        <input type="hidden" id = "ctgr" name = "ctgr" th:value = "${param.ctgr}">
        <input type="hidden" id = "keyword" name = "keyword" th:value = "${param.keyword}">
        <input type="hidden" id = "page" name="page" th:value = "${param.page}">
    </form>
</main>    

</html>
<script>
    const page_list = document.querySelectorAll(".paging a");
    page_list.forEach(function(el){
        el.addEventListener('click', function(){
            document.querySelector("#keyword").value = document.querySelector("#search_input").value;
            document.querySelector("#page").value = this.dataset.page;
            document.querySelector("#searchForm").submit();
        });
    });

    const search_btn = document.querySelector("#search_btn");
    search_btn.addEventListener('click', function(){
        document.querySelector("#keyword").value = document.querySelector("#search_input").value;
        document.querySelector("#page").value = 1;
        document.querySelector("#searchForm").submit();
    });
</script>