<html layout:decorate = "~{layout}">
<main layout:fragment = "content" class = "container">
    <nav th:replace = "~{mypage_nav::mypageFrag}"></nav>
    <table>
        <tr>
            <th>탭</th>
            <th width = "40%">제목</th>
            <th>작성일시</th>
            <th>추천</th>
        </tr>

        <tr th:each = "item: ${postList}">
            <td th:text = "${item.category == null} ? '자유' : ${item.category.name}"></td>
            <td>
                <a th:href = "@{|/post/detail/${item.id}|}"
                th:text = "${item.title}"></a>
                <span 
                th:if = "${#lists.size(item.commentList) > 0}"
                th:text = "|[${#lists.size(item.commentList)}]|"></span>
            </td>
            <td th:text = "${#temporals.format(item.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
            <td th:text = "${#lists.size(item.voter)}"></td>
        </tr>
    </table>

    <div class = "paging" th:if = "${!postList.isEmpty()}">
        <p th:if = "${postList.hasPrevious}">
            <a th:href = "@{|/member/post?page=${postList.number}|}">Prev</a>
        </p>
        <p th:each="idx:${#numbers.sequence(1, postList.totalPages)}"
        th:classappend = "${idx == postList.number + 1} ? 'active'"
        th:if = "${idx >= postList.number-1 and idx <= postList.number+3}">
            <a th:text = "${idx}" th:href = "@{|/member/post?page=${idx}|}"></a>
        </p>
        <p th:if = "${postList.hasNext}">
            <a th:href = "@{|/member/post?page=${postList.number+2}|}">Next</a>
        </p>
    </div>
</main>
</html>
