<html layout:decorate = "~{layout}">
<main layout:fragment = "content" class = "container">
    <form th:action = "@{/member/pwchange}" th:object = "${pwChangeForm}" method="post">
        <fieldset>
            <legend>비밀번호 변경</legend>
            <div th:replace="~{form_err :: formErrFragment}"></div>
            <input type="password" th:field = "*{oldPw}" placeholder="기존 비밀번호" required>
            <input type="password" th:field = "*{newPw1}" placeholder="새 비밀번호" required>
            <input type="password" th:field = "*{newPw2}" placeholder="새 비밀번호 확인" required>
            <input type="submit">
        </fieldset>
    </form>
</main>
</html>