<header th:fragment="headerFragment" class = "py-3">
	<nav class = "container my-3 d-flex justify-content-between">
		<h3><b><a href = "/">HOME</a></b></h3>
		<ul class = "nav">
			<li class = "nav-item">
				<a href = "/board/list"
				id = "board_free"
				class = "nav-link">자유게시판
				</a>
			</li>
			<li class = "nav-item">
				<a href = "/user/info"
				th:if = "${session.userInfo}==null"
				class = "nav-link">마이페이지</a>
				<a href = "/user/info"
				th:unless = "${session.userInfo}==null"
				class = "nav-link"
				th:text = "${session.userInfo.id}"></a>
			</li>
			<li class = "nav-item">
				<a href = "/login"
				class = "nav-link"
				th:if = "${session.userInfo}==null"
				>로그인</a>
				<a href = "/logout"
				class = "nav-link"
				th:unless = "${session.userInfo}==null"
				>로그아웃</a>
			</li>
		</ul>
	</nav>
</header>